<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alooma.android">

    <!--
      This permission is required to allow the application to send events and properties to Alooma.
     -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
      This permission is optional but recommended so we can be smart about when to send data.
     -->
    <!--
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    -->

    <!--
      This permission is optional but recommended so events will contain information about bluetooth state
    -->
    <!--
    <uses-permission android:name="android.permission.BLUETOOTH" />
    -->

    <application>
        <!-- to support 2.2 (Froyo) and older devices, your application should allow fallback
             to HTTP if modern HTTPS certificates aren't supported. -->
        <!--
        <meta-data android:name="aloomandroid.ALConfig.DisableFallback"
            android:value="false" />
        -->

        <!-- Set the following option to true if you wish to see the debug output from the Alooma Android
             library. This may be useful in determining when track calls go out or in-app notifications
             are fetched. The default value is false. -->
        <!--
        <meta-data android:name="aloomandroid.ALConfig.EnableDebugLogging"
            android:value="true" />
        -->
    </application>
</manifest>